@charset "UTF-8";

.reset-section {
    width: 50%;
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
}

.reset-title {
    padding: 24px 0;
    font-size: 28px;
}

.reset-item {
    text-align: left;
}

.reset-item__input {
    display: block;
    width: 100%;
    padding: 3px;
    border-radius: 3px;
    border: 2px solid #888;
}

.reset-item__error {
    min-height: 32px;
    color: #FF5555;
}

.reset-button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: #009FC3;
    box-shadow: 0 0 1px 1px #009FC3;
    color: #FFF;
}

.reset-button:hover {
    cursor: pointer;
    opacity: .7;
}

.reset__login-click {
    text-decoration: none;
    color: #009FC3;
}

.reset__login-click:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

@media screen and (max-width: 480px) {
    .reset-section {
        width: 80%;
    }
}