@charset "UTF-8";

body {
    background-image: url('../img/table.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.top-section {
    width: 50%;
    max-width: 400px;
    margin: 150px auto;
    padding: 15px;
}

.top-button {
    display: block;
    max-width: 250px;
    width: 100%;
    min-height: 52px;
    line-height: 52px;
    margin: 15px auto;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 28px;
    color: #FFF;
    text-align: center;
    background-color: #009FC3;
    box-shadow: 0 0 1px 1px #009FC3;
}

.top-button.put {
    background-color: #FF5555;
    box-shadow: 0 0 1px 1px #FF5555;
}

.top-button:hover {
    opacity: .7;
}

@media screen and (max-width: 480px) {
    .top-section {
        width: 100%;
    }
}