@charset "UTF-8";

.applicant-section {
    max-width: 500px;
    width: 50%;
    margin: 50px auto;
}

.applicant-title {
    padding: 24px 0;
    font-size: 28px;
    text-align: center;
}

.applicant-item__image {
    display: block;
    padding: 5px 0;
    width: 240px;
    height: 320px;
}

.applicant-item__content.image {
    display: none;
}

.applicant-item__image-select {
    display: block;
    width: 100%;
    padding: 3px;
    border: 2px solid #FF5555;
    background-color: #FFF;
    color: #FF5555;
    border-radius: 3px;
}

.applicant-item__image-select:hover {
    cursor: pointer;
}

.applicant-item__content {
    display: block;
    width: 100%;
    padding: 3px;
    border-radius: 3px;
    border: 2px solid #888;
}

.applicant-item__error {
    min-height: 32px;
    color: #FF5555;
}

.applicant-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.applicant-button {
    display: block;
    width: 120px;
    height: 32px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #FF5555;
    box-shadow: 0 0 1px 1px #FF5555;
    color: #FFF;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

.applicant-button:hover {
    cursor: pointer;
    opacity: .7;
}

.applicant-button.back {
    line-height: 28px;
    background-color: #009FC3;
    box-shadow: 0 0 1px 1px #009FC3;
    margin-left: 10px;
}

.applicant-button.back:hover {
    cursor: pointer;
    opacity: .7;
}

@media screen and (max-width: 480px) {
    .applicant-section {
        max-width: 500px;
        width: 85%;
        margin: 50px auto;
    }
}