@charset "UTF-8";

.detail-title {
    font-size: 28px;
    padding-bottom: 15px;
}

.detail-buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.detail-back {
    display: block;
    width: 120px;
    height: 32px;
    line-height: 28px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: #009FC3;
    box-shadow: 0 0 1px 1px #009FC3;
    color: #FFF;
    font-size: 18px;
    text-decoration: none;
}

.detail-edit {
    display: block;
    width: 120px;
    height: 32px;
    line-height: 28px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: #FF5555;
    box-shadow: 0 0 1px 1px #FF5555;
    color: #FFF;
    font-size: 18px;
    text-decoration: none;
}

.bottom-group {
    padding: 0 15px 15px;
    font-size: 18px;
    width: 70%;
}

.job-description {
    padding: 15px;
}

.job-group {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.job-wrapper {
    width: 50%;
    min-height: 315px;
    margin: 5px;
    padding: 15px;
    border: 3px double #888;
    border-radius: 3px;
}

.job-item {
    padding-bottom: 15px;
}

.job-label {
    font-weight: bold;
}

.job-content {
    padding-left: 15px;
    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    .bottom-group {
        padding: 15px;
        font-size: 18px;
        width: 100%;
    }

    .job-group {
        display: block;
    }

    .job-wrapper {
        width: 95%;
    }
}